<!DOCTYPE html>
<html>
  <head>
    <title>Customize your Start Page!</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>
  <body id="home">
    <p>Hey..</p>
  </body>
</html>
