<!DOCTYPE html>
<html>
  <head>
    <title>Start Page!</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>
  <body id="home">
    <div class="custlink">
          <b>Click here to </b>
          <a href="/customize">customize this page!</a>
    </div>
    <p>Hey there...</p>
  </body>
</html>
